<a href="https://colab.research.google.com/github/nikhil00shinde/Data-Science/blob/main/22-06-05-Getting_Started/Getting_Started_Data_Science_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3>Getting Started with Python</h3>

* IO (Input Output)
    * DataTypes
* Conditions
    * if else
    * if elif else
* Loop
* Functions
* String
* List
* Set
* Tuple
* Map
* Class Object

# IO

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
print("Hello, developer")

Hello, developer

Problem -> print the pattern of Z with 5 columns in it.

In [ ]:
print("*****")
print("   *")
print("  *")
print(" *")
print("*****")

*****
   *
  *
 *
*****

In [ ]:
x = 5
# x = 7
ans = x * x
print(ans)

25

Problem --> https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=false

In [ ]:
a = 3
b = 2
print(a/b)
print(a//b)

1.5
1

In [ ]:
a = input()  #input from keyboard in string format
print('Hii!! '+a)

3
Hii!! 3

In [ ]:
a = 123
b = 12.345
c = 'Hi bye my number is 123456 #%&* '

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Variables name can only contains


*   digit
*   alphabet
*   _

name cannot be start with digit

In [ ]:
abc123 = 1212
print(abc123)

_acb = "Hello World"
print(_acb)

1212
Hello World

# Run Os Commands

In [1]:
! cat ./sample_data/README.md

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# Conditions

## if else

In [4]:
age = 23

if age <= 18:
  print("Balik")
  print("Baccha Hai")
else:
  print("Na Balik")

print("outside if block")

Na Balik
outside if block

## Nested If Else

In [ ]:
age = 17

if age <= 18:
  print("Baccha hai")
else:
   if age<=50:
     print("Jawan hai")
   else:
     print("Old man")

print("outside if block")

## ELIF

In [5]:
age = 23

if age <= 18:
  print("Baccha hai")
elif age <= 50:
  print("Jawan hai")
else:
  print("else")

print("outside if block")

Jawan hai
outside if block

Problem -> https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=false