<a href="https://colab.research.google.com/github/nikhil00shinde/Data-Science/blob/main/22-06-05-Getting_Started/Getting_Started_Data_Science_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3>Getting Started with Python</h3>

* IO (Input Output)
    * DataTypes
* Conditions
    * if else
    * if elif else
* Loop
* Functions
* String
* List
* Set
* Tuple
* Map
* Class Object

# IO

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
print("Hello, developer")

Hello, developer

Problem -> print the pattern of Z with 5 columns in it.

In [ ]:
print("*****")
print("   *")
print("  *")
print(" *")
print("*****")

*****
   *
  *
 *
*****

In [ ]:
x = 5
# x = 7
ans = x * x
print(ans)

25

Problem --> https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=false

In [ ]:
a = 3
b = 2
print(a/b)
print(a//b)

1.5
1

In [ ]:
a = input()  #input from keyboard in string format
print('Hii!! '+a)

3
Hii!! 3

In [ ]:
a = 123
b = 12.345
c = 'Hi bye my number is 123456 #%&* '

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Variables name can only contains


*   digit
*   alphabet
*   _

name cannot be start with digit

In [ ]:
abc123 = 1212
print(abc123)

_acb = "Hello World"
print(_acb)

1212
Hello World

# Run Os Commands

In [ ]:
! cat ./sample_data/README.md

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# Conditions

## if else

In [ ]:
age = 23

if age <= 18:
  print("Balik")
  print("Baccha Hai")
else:
  print("Na Balik")

print("outside if block")

Na Balik
outside if block

## Nested If Else

In [ ]:
age = 17

if age <= 18:
  print("Baccha hai")
else:
   if age<=50:
     print("Jawan hai")
   else:
     print("Old man")

print("outside if block")

## ELIF

In [ ]:
age = 23

if age <= 18:
  print("Baccha hai")
elif age <= 50:
  print("Jawan hai")
else:
  print("else")

print("outside if block")

Jawan hai
outside if block

Problem -> https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=false

# Loop

`range(start, stop, step)`



*   start: included
*   stop:  excluded
*   step:  step size



* range(3)       [0, 3)
* range(2,7)     [2, 7)
* range(2,7,3)   [2, 7) +3 2,5

In [ ]:
for i in range(2,8):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(2,12,3):
  print(i)

2
5
8
11

In [ ]:
for i in range(7,2,-1):
  print("Hello",i)

Hello 7
Hello 6
Hello 5
Hello 4
Hello 3

In [ ]:
for i in range(5):
  print("hello")

hello
hello
hello
hello
hello

Problems: https://www.hackerrank.com/challenges/python-loops/problem?isFullScreen=false

In [ ]:
a = input() # input in string format
a = int(a)
print(type(a),a+23)

123
<class 'int'> 146

In [ ]:
n = 5

for i in range(n):
  print(i*i)

0
1
4
9
16

# Functions

Why??


*   Code re-use
*   easy debugging

Usage

* function call is replaced by returned value
* Default value `def add(a,b,c=0,d=0)`
* PassByName `add(1,3,d=9,c=3)`

In [ ]:
n = 4
r = 2

nf = 1 # 1*2*3*4...*n
for i in range(1,n+1):
  nf *= i

rf = 1
for i in range(1,r+1):
  rf *= i

nmrf = 1
for i in range(1,n-r+1):
  nmrf *= i

print(nf/(rf*nmrf))

6.0

In [ ]:
n = 4
r = 2

def fact(x):
  ans = 1
  for i in range(1,x+1):
    ans *= i
  return ans

nf = fact(n)
rf = fact(r)
nmrf = fact(n-r)

print(nf/(rf*nmrf))

6.0

In [ ]:
def fun5():
   return 2

print(10-fun5())

8

Problems: Frequency

Learn
while loop

In [ ]:
def fun():
  return "hello world"

fun()
fun()
fun()

'hello world'

## add 2 numbers

In [ ]:
def add(a,b):
  return a+b

ans = add(2,5)
print(ans)

7

In [ ]:
ans = add("hii","bye")
print(ans)

hiibye

In [ ]:
'abc' + 'def'

'abcdef'

In [1]:
def add(a,b,c=0,d=0):
  return a+b+c+d

ans = add(1,2,3)
print(ans)

6

### Pass by name

In [3]:
def add(a,b,c=1,d=1):
  print("a:",a)
  print("b:",b)
  print("c:",c)
  print("d:",d)

  return (a+b+c)*d

ans = add(2,4,d=2,c=5)
print(ans)

a: 2
b: 4
c: 5
d: 2
22

# String



*   Escape Character
         * `\' \" \t \\`
*   strip,upper,lower

In [5]:
s = 'my name is nikhil, my email is shinden523@'
s = "my name ' is nikhil, my email is shinden523@"
s = ''' my name ' " is nikhil 1234567 @#$%% '''
print(s)

 my name ' " is nikhil 1234567 @#$%%

In [6]:
# Escape character

s = ' my name \' \" \\ is nikhil 1234567 @3$%% '
print(s)

 my name ' " \ is nikhil 1234567 @3$%%

In [9]:
print('nitin \t\t123')
print('prince \t\t656')
print('shivam \t\t651')
print('Luvkush \t\t653')

nitin 		123
prince 		656
shivam 		651
Luvkush 		653

In [12]:
print(s)
s.strip()  # removes starting/ending white spaces

 my name ' " \ is nikhil 1234567 @3$%%

'my name \' " \\ is nikhil 1234567 @3$%%'

In [13]:
print(s.upper())
print(s.lower())

 MY NAME ' " \ IS NIKHIL 1234567 @3$%%
 my name ' " \ is nikhil 1234567 @3$%%

## Indexing

In [14]:
print(s)
print(s[1],s[0],s[-2])

 my name ' " \ is nikhil 1234567 @3$%%
m   %

In [17]:
s = "abcd"
print(s,len(s))

for i in range(len(s)):
  print(i,s[i])


for c in s:
  print(c)

abcd 4
0 a
1 b
2 c
3 d
a
b
c
d