<a href="https://colab.research.google.com/github/nikhil00shinde/Data-Science/blob/main/22-06-05-Getting_Started/Getting_Started_Data_Science_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contents

<h3>Getting Started with Python</h3>

* IO (Input Output)
    * DataTypes
* Conditions
    * if else
    * if elif else
* Loop
    * for
    * while[-]
* Functions
* String
* List
* Set
* Tuple
* Map
* Class Object

# IO

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
print("Hello, developer")

Hello, developer

Problem -> print the pattern of Z with 5 columns in it.

In [ ]:
print("*****")
print("   *")
print("  *")
print(" *")
print("*****")

*****
   *
  *
 *
*****

In [ ]:
x = 5
# x = 7
ans = x * x
print(ans)

25

Problem --> https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=false

In [ ]:
a = 3
b = 2
print(a/b)
print(a//b)

1.5
1

In [ ]:
a = input()  #input from keyboard in string format
print('Hii!! '+a)

3
Hii!! 3

In [ ]:
a = 123
b = 12.345
c = 'Hi bye my number is 123456 #%&* '

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Variables name can only contains


*   digit
*   alphabet
*   _

name cannot be start with digit

In [ ]:
abc123 = 1212
print(abc123)

_acb = "Hello World"
print(_acb)

1212
Hello World

# Run Os Commands

In [ ]:
! cat ./sample_data/README.md

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# Conditions

## if else

In [ ]:
age = 23

if age <= 18:
  print("Balik")
  print("Baccha Hai")
else:
  print("Na Balik")

print("outside if block")

Na Balik
outside if block

## Nested If Else

In [ ]:
age = 17

if age <= 18:
  print("Baccha hai")
else:
   if age<=50:
     print("Jawan hai")
   else:
     print("Old man")

print("outside if block")

## ELIF

In [ ]:
age = 23

if age <= 18:
  print("Baccha hai")
elif age <= 50:
  print("Jawan hai")
else:
  print("else")

print("outside if block")

Jawan hai
outside if block

Problem -> https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=false

# Loop

`range(start, stop, step)`



*   start: included
*   stop:  excluded
*   step:  step size



* range(3)       [0, 3)
* range(2,7)     [2, 7)
* range(2,7,3)   [2, 7) +3 2,5
* continue
* break

In [ ]:
for i in range(2,8):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(2,12,3):
  print(i)

2
5
8
11

In [ ]:
for i in range(7,2,-1):
  print("Hello",i)

Hello 7
Hello 6
Hello 5
Hello 4
Hello 3

In [ ]:
for i in range(5):
  print("hello")

hello
hello
hello
hello
hello

Problems: https://www.hackerrank.com/challenges/python-loops/problem?isFullScreen=false

In [ ]:
a = input() # input in string format
a = int(a)
print(type(a),a+23)

123
<class 'int'> 146

In [ ]:
n = 5

for i in range(n):
  print(i*i)

0
1
4
9
16

# Functions

Why??


*   Code re-use
*   easy debugging

Usage

* function call is replaced by returned value
* Default value `def add(a,b,c=0,d=0)`
* PassByName `add(1,3,d=9,c=3)`

In [ ]:
n = 4
r = 2

nf = 1 # 1*2*3*4...*n
for i in range(1,n+1):
  nf *= i

rf = 1
for i in range(1,r+1):
  rf *= i

nmrf = 1
for i in range(1,n-r+1):
  nmrf *= i

print(nf/(rf*nmrf))

6.0

In [ ]:
n = 4
r = 2

def fact(x):
  ans = 1
  for i in range(1,x+1):
    ans *= i
  return ans

nf = fact(n)
rf = fact(r)
nmrf = fact(n-r)

print(nf/(rf*nmrf))

6.0

In [ ]:
def fun5():
   return 2

print(10-fun5())

8

Problems: Frequency

Learn
while loop

In [ ]:
def fun():
  return "hello world"

fun()
fun()
fun()

'hello world'

## add 2 numbers

In [ ]:
def add(a,b):
  return a+b

ans = add(2,5)
print(ans)

7

In [ ]:
ans = add("hii","bye")
print(ans)

hiibye

In [ ]:
'abc' + 'def'

'abcdef'

In [ ]:
def add(a,b,c=0,d=0):
  return a+b+c+d

ans = add(1,2,3)
print(ans)

6

### Pass by name

In [ ]:
def add(a,b,c=1,d=1):
  print("a:",a)
  print("b:",b)
  print("c:",c)
  print("d:",d)

  return (a+b+c)*d

ans = add(2,4,d=2,c=5)
print(ans)

a: 2
b: 4
c: 5
d: 2
22

# String



*   Escape Character
         * `\' \" \t \\`
*   strip,upper,lower
*   format
       * `'Hii {}'.format(variable)`
       * `f'Hii {variable}'`

In [ ]:
s = 'my name is nikhil, my email is shinden523@'
s = "my name ' is nikhil, my email is shinden523@"
s = ''' my name ' " is nikhil 1234567 @#$%% '''
print(s)

 my name ' " is nikhil 1234567 @#$%%

In [ ]:
# Escape character

s = ' my name \' \" \\ is nikhil 1234567 @3$%% '
print(s)

 my name ' " \ is nikhil 1234567 @3$%%

In [ ]:
print('nitin \t\t123')
print('prince \t\t656')
print('shivam \t\t651')
print('Luvkush \t\t653')

nitin 		123
prince 		656
shivam 		651
Luvkush 		653

In [ ]:
print(s)
s.strip()  # removes starting/ending white spaces

 my name ' " \ is nikhil 1234567 @3$%%

'my name \' " \\ is nikhil 1234567 @3$%%'

In [ ]:
print(s.upper())
print(s.lower())

 MY NAME ' " \ IS NIKHIL 1234567 @3$%%
 my name ' " \ is nikhil 1234567 @3$%%

## Indexing

In [ ]:
print(s)
print(s[1],s[0],s[-2])

 my name ' " \ is nikhil 1234567 @3$%%
m   %

In [ ]:
s = "abcd"
print(s,len(s))

for i in range(len(s)):
  print(i,s[i])


for c in s:
  print(c)

abcd 4
0 a
1 b
2 c
3 d
a
b
c
d

# List

* append
* extend: `[1,2,3] + [4,5,6] = [1,2,3,4,5,6]`
* Indexing
* Slicing
* `[1, *[2,3],4,5]`
* `Harsh in class_list`
* `class_list.index("mantraksha")`

"Ayaan", "chaitanya", "Dhairya", "Divyansh", "Shraiya", "Nidhi", "gokul", "Harsh", "Harshit", "Himanshu", "Nidhi", "Nusrat", "prince", "Radhika", "Vedant", "Harshit", "Divyansh", "mantraksha",

In [ ]:
l = ["Ayaan",'Chaitanya','''Dhairya''',123,True,False,90.556]

for name in l:
  # print(name +' Good Evening') # Gives error
  # print(name, ' Good Evening')
  print(f'{name} Goog Evening')

Ayaan Goog Evening
Chaitanya Goog Evening
Dhairya Goog Evening
123 Goog Evening
True Goog Evening
False Goog Evening
90.556 Goog Evening

In [ ]:
name1 = "Diwakar"
name2 = "Gokul"

s = 'Good Evening {} , {}'.format(name1,name2)
s = f'Good Evening {name1} and {name2}'
print(s)

Good Evening Diwakar and Gokul

In [ ]:
class_students = ["Ayaan",
"chaitanya",
"Dhairya",
"Divyansh",
"Shraiya",
"Nidhi",
"gokul",
"Mantraksha"
"Harsh",
"Harshit",
"Himanshu",
"nidhi",
"Nusrat",
"prince",
"Radhika",
"Vedant",
"Harshit",
"Divyansh",
"mantraksha",]

Append late joiners to class list

In [ ]:
class_students.append('Vaibhav')
class_students.append('Vidushi')
class_students.append('Jonathan')
class_students

['Ayaan',
 'chaitanya',
 'Dhairya',
 'Divyansh',
 'Shraiya',
 'Nidhi',
 'gokul',
 'MantrakshaHarsh',
 'Harshit',
 'Himanshu',
 'nidhi',
 'Nusrat',
 'prince',
 'Radhika',
 'Vedant',
 'Harshit',
 'Divyansh',
 'mantraksha',
 'Vaibhav',
 'Vidushi',
 'Jonathan']

In [ ]:
l1 = [1,2,3,'hii','hello']
l2 = [4,5,6]
l3 = l1+l1
print(l3)

[1, 2, 3, 'hii', 'hello', 1, 2, 3, 'hii', 'hello']

In [ ]:
for name in class_students:
  print(f'Hii {name}')

Hii Ayaan
Hii chaitanya
Hii Dhairya
Hii Divyansh
Hii Shraiya
Hii Nidhi
Hii gokul
Hii MantrakshaHarsh
Hii Harshit
Hii Himanshu
Hii nidhi
Hii Nusrat
Hii prince
Hii Radhika
Hii Vedant
Hii Harshit
Hii Divyansh
Hii mantraksha
Hii Vaibhav
Hii Vidushi
Hii Jonathan

In [ ]:
import time

income_tax_officer = 'Ajay'

for name in class_students:
  print(f'{income_tax_officer} is preparing to raid {name} house')
  time.sleep(2)

  if name == "Dhairya":
    #skip remaining part of loop and proceed to next interation
    continue # ghus dena to Ajay
  
  print(f'{income_tax_officer} found black money in {name} house')
  time.sleep(2)

Ajay is preparing to raid Ayaan house
Ajay found black money in Ayaan house
Ajay is preparing to raid chaitanya house
Ajay found black money in chaitanya house
Ajay is preparing to raid Dhairya house
Ajay is preparing to raid Divyansh house
Ajay found black money in Divyansh house
Ajay is preparing to raid Shraiya house
Ajay found black money in Shraiya house
Ajay is preparing to raid Nidhi house
Ajay found black money in Nidhi house
Ajay is preparing to raid gokul house
Ajay found black money in gokul house
Ajay is preparing to raid MantrakshaHarsh house
Ajay found black money in MantrakshaHarsh house
Ajay is preparing to raid Harshit house
Ajay found black money in Harshit house
Ajay is preparing to raid Himanshu house
Ajay found black money in Himanshu house
Ajay is preparing to raid nidhi house
Ajay found black money in nidhi house
Ajay is preparing to raid Nusrat house
Ajay found black money in Nusrat house
Ajay is preparing to raid prince house
Ajay found black money in prince house
Ajay is preparing to raid Radhika house
Ajay found black money in Radhika house
Ajay is preparing to raid Vedant house
Ajay found black money in Vedant house
Ajay is preparing to raid Harshit house
Ajay found black money in Harshit house
Ajay is preparing to raid Divyansh house
Ajay found black money in Divyansh house
Ajay is preparing to raid mantraksha house
Ajay found black money in mantraksha house
Ajay is preparing to raid Vaibhav house
Ajay found black money in Vaibhav house
Ajay is preparing to raid Vidushi house
Ajay found black money in Vidushi house
Ajay is preparing to raid Jonathan house
Ajay found black money in Jonathan house

In [ ]:
import time

income_tax_officer = 'Ajay'

for name in class_students:
  print(f'{income_tax_officer} is preparing to raid {name} house')
  time.sleep(2)

  if name == "Dhairya":
    #terminate loop
    break # ghus dena to Ajay
  
  print(f'{income_tax_officer} found black money in {name} house')
  time.sleep(2)

Ajay is preparing to raid Ayaan house
Ajay found black money in Ayaan house
Ajay is preparing to raid chaitanya house
Ajay found black money in chaitanya house
Ajay is preparing to raid Dhairya house

## Question 1

print all even squares from 0 to n-1 

Hint: %, modify range

In [ ]:
n = 5

for i in range(n):
  if i % 2 == 1:
    #odd
    continue
  print(i*i)

# for i in range(0,n,2):
#   print(i*i)



# for i in range(5):
#   tn = i*i
#   if tn%2 != 0:
#     continue
#   print(tn)

0
4
16

## Indexing

In [ ]:
#   -6    -5   -4   -3   -2  -1
#    0     1    2    3    4   5
l = ['a', 123, 'c', 'd', 44, 'f']

print(f'{l[4]} + {l[-5]} = {l[-2]+l[1]}')
print(l[0], l[-6])
print(f'Length of list = {len(l)}')

44 + 123 = 167
a a
Length of list = 6

In [ ]:
l = list(range(20,30))

print(l)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

## Slicing

In [ ]:
l = list(range(3,9))
print('l=',l)
l2 = l[1:4]
print(f'l[1:4] = {l2}')

print(f'l[1:-2] = {l[1:-2]}')

print(f'l[1:-1:2] = {l[1:-1:2]}')

l= [3, 4, 5, 6, 7, 8]
l[1:4] = [4, 5, 6]
l[1:-2] = [4, 5, 6]
l[1:-1:2] = [4, 6]

In [ ]:
l[-1:1:-1]

[8, 7, 6, 5]

**Question reverse list using slicing**

In [6]:
l = list(range(3,10))
print(l)
print(l[1:]) #no stoping point, no ending
print(l[:4])
print(l[:])
print(l[::2]) #start end
print(l[::-1]) #start and end toggled

[3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[3, 4, 5, 6]
[3, 4, 5, 6, 7, 8, 9]
[3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3]

In [24]:
## Questions

### print
n = 5
m = 5
while n >= 0:
  j = m
  while j >= 0:
    print("*",end=" ")
    j -= 1
  print("")
  n -= 1


### Reverse an list
print(l[::-1])

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
[9, 8, 7, 6, 5, 4, 3]

In [25]:
l = [1,2,3]

print(l)
print(1,2,3)
print(*l)

[1, 2, 3]
1 2 3
1 2 3

In [30]:
l = [1,2,3,4, *[5,6,7]]

for i in range(len(l)):
  print(l[i])

1
2
3
4
5
6
7

In [32]:
l1 = [2,3,4]
l2 = [1,*l1,5,6,7]
print(l2)

[1, 2, 3, 4, 5, 6, 7]

In [35]:
class_students = ["Ayaan",
"chaitanya",
"Dhairya",
"Divyansh",
"Shraiya",
"Nidhi",
"gokul",
"Harsh",
"Harshit",
"Himanshu",
"Nidhi",
"Nusrat",
"prince",
"Radhika",
"Vedant",
"Harshit",
"Divyansh",
"mantraksha",]

res = "Harshit" in class_students
print(res)

ind = class_students.index("mantraksha")
print(ind, class_students[ind])

True
17 mantraksha

# Tuple

* Immutable list
* `t = (1,2,3)`
*  `t = (1,)` comma is necessary

In [36]:
l = ['a','b','d','d']
print(l)
l[2] = 'c'
print(l)

l.append('e')
print(l)

['a', 'b', 'd', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [39]:
l = list(range(2,7))
print(l)
t = tuple(l)
print(t)

[2, 3, 4, 5, 6]
(2, 3, 4, 5, 6)

In [42]:
t = (1,2,3)
print(type(t),t)

print(t[0],t[1],t[2])
# t[0] = 10  #error
# t.append(10) # error

print(t)

<class 'tuple'> (1, 2, 3)
1 2 3
(1, 2, 3)

In [44]:
t = ("abcd",)  # if single element then , (comma) is necessary
t = 8

print(type(t),t)

<class 'int'> 8

In [45]:
age, first_name, last_name = (22,"Nikhil","Shinde")
print(age)

22

In [46]:
t = (1,2,[3,'a','b'],4,5)
print(t)

t[2].append('c')
print(t)

(1, 2, [3, 'a', 'b'], 4, 5)
(1, 2, [3, 'a', 'b', 'c'], 4, 5)

In [48]:
l = [1,*[2,3],4]

for i in range(len(l)):
  print(i,l[i])

0 1
1 2
2 3
3 4

In [49]:
def add(a,b,c):
  return a+b+c

print(add(2,3,4))

l = [1,2,3]
print(add(*l))   # add(l[0], l[1], l[2])

9
6

In [50]:
# immutable
days = ['sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat']
days = tuple(days)

print(type(days),days)

<class 'tuple'> ('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')